@font-face {
  font-family: 'RajdhaniSemiBold';
  src: url('/fonts/Rajdhani-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  padding: 0px;
  margin: 0px;
}
Canvas{
  background: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
body{
  height: 100vh;
  width: 100vw;
}
.background{
  height: 100%;
  width: 100%;
  background-color: #040005;
  /* background-image: radial-gradient(#3d2350, #100a15, #000016); */
  position: absolute;
  z-index: -1;
  overflow: hidden;
}
body > * {
  height: 100%;
  width: 100%;
  position: relative;
}
.glow {
  content:'';
  display:block;
  height:900px;
  width:1000px;
  border-radius:100%;
  margin:auto;
  /* box-shadow:0 0 1000px #031cff; */
  position:absolute;
  top:60%;
  left:50%;
  transform: translate(-50%, -50%);
  filter: blur(100px);
  background-color: #3a7fff3d;
}
.circles{
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
}
.ovelay{
  position: absolute;
  top: 0px;
  height: 0px;
  width: 100%;
  height: 100%;
}
.ovelay img{
  position: absolute;
  z-index: 9999;
}
.halo{
  box-shadow:0 0 200px #2f78ff;
  position: absolute;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (orientation: portrait) {
  .circles{
    height: 100%;
    width: initial;
  }
}