@font-face {
  font-family: 'RajdhaniSemiBold';
  src: url('/fonts/Rajdhani-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
chart-root *{
  padding: 0px;
  margin: 0px;
}
#chart-root #back-layer{
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* top: 51.7%; */
  /* left: 48.87%;
  transform: translate( -50%, calc(-50% + 32.25vw)); */
}
#chart-root #canvas-container{
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* top: 51.7%; */
  /* left: 4.87%;
  transform: translate( -50%, calc(-50% + 32.25vw)); */
}
#chart-root Canvas{
  position: absolute;
  z-index: 1;
}
#chart-root .background{
  height: 100%;
  width: 100%;
  /* background: radial-gradient(ellipse at top, #150118, transparent), radial-gradient(ellipse at bottom, #12001f, transparent); */
  position: absolute;
  z-index: -1;
  overflow: hidden;
  color: #00ff6e;
}
#chart-root .halo{
  box-shadow: 0 0 80px #c430ffbb, 0 0 80px #c430ffbb, inset 0 0 130px #c430ffbb, inset 0 0 130px #c430ffbb;
  position: absolute;
  display: inline-block;
  top: 49.6%;
  left: 50%;
  height: 65%;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
#chart-root .circles{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(1.1%, -0.9%);
}
#chart-root .ovelay{
  position: absolute;
  top: 0px;
  height: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#chart-root .ovelay img{
  position: absolute;
  z-index: 9999;
}